body {
    margin: 0;
    padding: 0;
}

p {
    font-size: 4rem;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding-top: 300px;
}

a {
    color: rgb(74, 151, 223);
    font-size: 4rem;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}